<app-page-title [title]="title"></app-page-title>
<app-loading></app-loading>

<div [ngClass]="todo.completed ? 'bg-green-200' : 'bg-red-400'" *ngFor="let todo of todos; index as i" class="flex flex-col bg-white shadow-lg rounded-lg mx-4 md:mx-auto my-2 max-w-md md:max-w-2xl ">
    <div class="flex items-start px-4 py-6">
        <div class="">
            <div class="flex items-center justify-between">
                <h2 class="text-lg font-semibold text-gray-900 -mt-1">{{todo.id}}: {{todo.title}}</h2>
            </div>
            <p class="text-gray-700">{{todo.completed}}</p>
        </div>
    </div>
    <div *ngIf="!todo.completed" class="flex p-4">
        <a role="button" class="bg-red-600 hover:bg-gold-700 text-white text-sm px-4 py-2  border rounded-full">
           Done
        </a>
    </div>
</div>