<app-page-title [title]="title"></app-page-title>
<form [formGroup]="loginForm" (submit)="submit()" class="w-1/2 mx-auto">
    email: "pwa@admin.com", password: "pwapwa1234"
    <div class="mb-4">
        <label class="block text-md font-light mb-2 font-semibold" for="email">Email</label>
        <input formControlName="email" class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline" type="text" name="email" id="" placeholder="Email">
        <div class="mt-4 font-semibold text-red-500" *ngIf="loginForm.controls.email.dirty && loginForm.controls.email.errors">
            <span *ngIf="loginForm.controls.email.errors.email">Email is not valid</span>
            <span *ngIf="loginForm.controls.email.errors.required">Email is required</span>
        </div>
    </div>
    <div class="mb-4">
        <label class="block text-md font-light mb-2 font-semibold" for="password">Password</label>
        <input formControlName="password" class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline" type="password" name="password" id="" placeholder="Password">
        <div class="mt-4 font-semibold text-red-500" *ngIf="loginForm.controls.password.dirty && loginForm.controls.password.errors">
            <span *ngIf="loginForm.controls.password.errors.minlength">Password is too short</span>
            <span *ngIf="loginForm.controls.password.errors.required">Password is required</span>
        </div>
    </div>
    <div class="flex items-center justify-between mb-5">
        <button [disabled]="!this.loginForm.valid" class="disabled:opacity-50 bg-indigo-600 hover:bg-blue-700 text-white font-light py-2 px-6 rounded focus:outline-none focus:shadow-outline" type="submit">
            LOGIN
        </button>
    </div>
    <p class="text-center text-md font-light">Don't have an account? <a class="font-light text-md text-indigo-600" routerLink="/register">Create</a></p>
</form>

<app-unauthorized (onUnauthorizedEvent)="onUnauthorizedEvent($event)"></app-unauthorized>