<div *ngIf="isLoading" class="w-full h-full fixed block top-0 left-0 bg-white opacity-75 z-50">
    <span class="text-green-500 opacity-75 top-1/2 my-0 mx-auto block relative w-0 h-0" style="top: 50%;">
        <p class="text-xl text-purple-800 font-bold uppercase">Loading...</p>
    </span>
</div>